In [1]:
import pandas as pd
from glob import glob
import re

In [4]:
images = glob('img/*/*.jpg')

In [8]:
df = pd.DataFrame(images, columns=['path'])

In [10]:
df['file'] = df['path'].apply(lambda x: x.split('/')[-1])
df['folder'] = df['path'].apply(lambda x: x.split('/')[-2])

In [16]:
df['cover'] = df['file'].apply(lambda x: 'yes' if x.find('400.jpg') > 0 else 'no')

In [18]:
df[df['cover'] == 'yes']

,path,file,folder,cover
2,img/Creatives/Creatives_400.jpg,Creatives_400.jpg,Creatives,yes
12,img/Expats/Expats_400.jpg,Expats_400.jpg,Expats,yes
24,img/Investors/Investors_400.jpg,Investors_400.jpg,Investors,yes
34,img/Researchers/Researchers_400.jpg,Researchers_400.jpg,Researchers,yes
47,img/Tech Leaders/Tech_Avantgardisten_400.jpg,Tech_Avantgardisten_400.jpg,Tech Leaders,yes
54,img/Unicorn_Raisers/Unicorn-Raisers_400.jpg,Unicorn-Raisers_400.jpg,Unicorn_Raisers,yes

In [19]:
df.to_csv('pictures.csv')